/* Variáveis na Css */
:root{
    --text-light: #ffff;
    --bg-primary:grey;
}

/* Reset CSS  USEM FAÇAM SEMPRE */
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

html{
   /* Transição para os links que não funciona no safari*/ 
   scroll-behavior: smooth;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.header, .header-footer{
    /* largura  100% é sempre o padrão de um container*/
    width: 100%;

    /* altura */
    height: 80px;

    /* cor de fundo */
    background-color: var(--bg-primary);

    /* cor do texto */
    color: var(--text-light);

    /* posicionamento dos filhos do header - FlexBox - cuidado o valor a ser usado é flex
        Só funciona quando aplicado ao container PAI....
        O padrão é que os elementos fiquem um ao lado do outro - flex-direction: row
        Quando usamos row - align-item alinha verticalmente
        Quando usamos row - justify-content alinha horizontalmente
    */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;    
}

.header-title {
    font-size: 32px;
    text-transform: uppercase;
}

.header-logo {
    color: #dc143c;   
}

.menu ul {
    /* tirar marcadores das listas */
    list-style: none;
    /* deixar as opções do menu uma ao lado da outra */
    display: flex;
}

.menu-item {
    /* alterando espaço entre as opções do menu */
    margin: 0 15px;
}

.menu-item a {
    /* cor dos links */
    color:var(--text-light);

    /* tirar o sublinhado */
    text-decoration: none;

    /* diminuir a fonte */
    font-size: 14px;

    /* peso da fonte */
    font-weight: 900;
}

/* a regra só será aplicada quando passar o mouse sobre os links */
.menu-item a:hover {
    color: #dc143c;
}

/* classe para estilizar o login */
.btn {
    padding: 5px 30px;
    border: 1px solid #dc143c;
    border-radius: 7px;
    background-color: #dc143c;
    transition: .5s;
}

.btn:hover {
    background-color: transparent;
}

.container-carrinho{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;   
}

.carrinho{
    width: 30px;
    height: 30px;
     
}

.cover-page{
    margin-top: 5px;
    width: 100%;
    height: 80%;
}

.container-products-female{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    margin-bottom: 10px;

}

.img-woman-sport{
    margin-left: 100px;
    width: 300px;
    height: 400px;
}

.texto-registrese {
    font-size: 18px;
}

.registrese {
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 10px;
    background-color: gray;
    margin-right: 130px;
    color: black;
    width: 50%;
    background-color: white;
}

.input{
    border-radius: 10px;
}

.nome, .sobrenome, .cpf, .senha, .confirmar {
margin-top: 10px;
margin-bottom: 20px;
}

.btn-enviar {
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 250px;
    background-color: purple;
    color: white;
}

/*services*/
.services-container, .services-container-man{
    width: 95%;
    /* min-height define a altura mínima e faz ajuste entre os elementos*/
    min-height: 90vh;
    /*border: 1px solid #000;*/
    /*usamos margem con valor automático para centralizar o container-USADO PARA CONTAINERS*/
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* space evenly gera o mesmo espaçamento entre os elementos*/
    justify-content: space-evenly;
}

.services-item{
    width: 30%;
    height: 450px;
    border: 1px solid #ccc;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    /* cursor pointer mostra a mão na hora de passar o cursor*/
    cursor: pointer;
    transition: 5s;
}

.services-item:hover{
    border: transparent;
    box-shadow: 1px 1px 10px #ccc;
}

.services-item i{
    color: #4e5fbe;
    font-size: 50px;
    margin: 16px 0;
}

.services-title{
    font-size: 30px;
    font-weight: 900px;
    margin: 16px 0;
}

.services-text{
    text-align: center;
    line-height: 28px;
}
.img-products-female{
    margin-top: 20px;
    width: 300px;
    height: 300px;
}

.banner-shop{
    margin: 0px;
     width: 100%;
    height: 300px;
  
     /* inserindo imagem de fundo */
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url(../images/banner.jpg);

    /* não permite a repetição da imagem de fundo */
    background-repeat: no-repeat;

    /* fazer com que a imagem de fundo cubra a tela */
    background-size: cover;

    /* posicionar o ponto central da imagem com o ponto central da tela */
    background-position: 50%;   
    
     /* espacamento entre o conteúdo interno e a margen esquerda */
     padding-left: 50px;

      /* flex para posicionar o conteúdo */
      /* flex column para posicionar o conteúdo, um abaixo do outro */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
}

/* .banner-image{
    width: 600px;
    height: 300px;
} */

.banner-texto-promocao{
    color:var(--text-light);
     text-decoration: none;
     font-size: 22px;
     border: 1px solid #fff;
     padding: 15px 60px;
     border-radius: 20px;
     transition: 5s;
}

.banner-texto-promocao:hover{
    background-color: #dc143c;
    border-color: #dc143c;
}


.container-program-fidelity{
     width: 95%;
    /* min-height define a altura mínima e faz ajuste entre os elementos*/
    min-height: 90vh;
    /*border: 1px solid #000;*/
    /*usamos margem con valor automático para centralizar o container-USADO PARA CONTAINERS*/
    margin: 20px auto;
    display: flex;
    flex-direction: row;
     margin: 20px auto;
    align-items: center;
    /* space evenly gera o mesmo espaçamento entre os elementos*/
    justify-content: space-evenly;

}

.img-man-surfer{
    width: 350px;
    height: 450px;
    margin-left: 50px;
}

.services-title-fidelity{
    font-size: 30px;
    font-weight: 400px;
    margin-left: 150px;
    margin-bottom: 5px;
}

.services-text-fidelity{
    font-size: 20px;
    font-weight: 400px;
    margin-left: 20px;
    
}

.button-fidelity{
    margin-top: 20px;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 30px;
    border: 1px solid #dc143c;
    background-color: #dc143c;
    transition: .5s;
    margin-left: 250px;
    color: white;
}

.button-fidelity:hover{
    background-color: transparent;
}

.container-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;  
    background-color: var(--bg-primary); 
    color: var(--text-light);
}

.footer{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    margin-left: 100px;
}

.informacoes-gerais{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    margin-left: 200px;
}

.redes-sociais{
    width: 100%;
    height: 80px;
     margin-top: 20px;
     margin-left: 300px;
}

.img-rrss{
    width: 40px;
    height: 40px;
}

    





